/* .image-card {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.7s;
}

.card-overlay p {
    color: white;
    font-size: 20px;
}

.image-card:hover .card-overlay {
    top: 20%;

}


.scale-image {
    transform: scale(1);
    transition: transform 500ms ease-in;
}


.scale-image:hover {
    transform: scale(1.10);
    transition: transform 500ms ease-in;
}



.card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
} */






:root {
    --transition-time: 2.3s;
}

.my_row {
    align-items: center;
    height: 100vh;
}

.my_card {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
    transition: ease all var(--transition-time);
    perspective: 1200px;
    background-color: rgba(0, 0, 0, 0);
}

.my_card:hover .my_cover {
    transform: rotateX(0deg) rotateY(-180deg);
}

.my_card:hover .my_cover:before {
    transform: translateZ(30px);
}

.my_card:hover .my_cover:after {
    background-color: black;
}

.my_card:hover .my_cover h1 {
    transform: translateZ(100px);
}

.my_card:hover .my_cover .my_price {
    transform: translateZ(60px);
}

.my_card:hover .my_cover .my_byUser {
    transform: translateZ(60px);
}

.my_card:hover .my_cover .my_publishedIn {
    transform: translateZ(60px);
}

.my_card:hover .my_cover a {
    transform: translateZ(-60px) rotateY(-180deg);
}

.my_cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.my_cover:before {
    content: '';
    position: absolute;
    border: 5px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all var(--transition-time);
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.my_cover:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;
    background: rgba(0, 0, 0, .4);
}

.my_cover h1 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    z-index: 3;
    font-size: 3em;
    transform: translateZ(0px);
}

.my_cover .my_price {
    font-weight: 200;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    z-index: 4;
    font-size: 2em;
    transform: translateZ(0px);
}

.my_cover .my_byUser {
    font-weight: 200;
    position: absolute;
    top: 100px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    z-index: 4;
    font-size: 1.2em;
    transform: translateZ(0px);
}


.my_cover .my_publishedIn {
    font-weight: 200;
    position: absolute;
    top: 130px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    z-index: 4;
    font-size: 1.2em;
    transform: translateZ(0px);
}

.my_card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_card-back a {
    transform-style: preserve-3d;
    transition: ease transform var(--transition-time), ease background .5s;
    transform: translateZ(-1px) rotateY(-180deg);
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 200;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0);

    outline: none;
    text-decoration: none;
}

.my_card-back a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #0b0f08;
}









/* 
.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: hsl(46, 100%, 50%);
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}
 */






/* .card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: hsl(46, 100%, 50%);
}


.card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}


.card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
} */