* {
    box-sizing: border-box;
  }
  
  .new_card {
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    padding: 0;
    margin: 10px 0px 10px 25px;
    /*perspective: 500px;*/
    /*background: radial-gradient(white,lightgray);*/
  }
  
  .card_product {
    position: relative;
    transition: all .5s ease-in;
  }
  
  
  .card__image {
    display: block;
    width: 300px;
    height: 250px;
  }
  
  .card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #393839;
  }
  
  .card_product:hover .card__overlay {
    opacity: 1;
  }
  
  .overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button {
    background-color: #f05328;
    padding: 1.5rem;
    margin-top: 2rem;
    display: inline-block;
    color: white;
    text-decoration: none;
  }