
body {
    background: rgb(255,246,241);
    background: radial-gradient(circle, rgba(255,246,241,1) 0%, rgba(125,130,136,1) 100%);
}


.bg-green-pineapple {
    background-color: #495E57;
}

.text-black-pineapple {
    color: #1A0000;
}

.my_navbar {
    padding: 0;
}

.pPhone_image {
    background-image: url('../../public/img/pPhoneCategory.jpg');
    height: 85vh;
    background-size: cover;
}



.pBookSurf_image {
    background-image: url('../../public/img/pBookSurf_Orizontal.png');
    height: 85vh;
    background-size: cover;
}



.img_modellation {
    height: 50vh;
}

.img-preview{
   width: 300px;
   height: 300px;
}


a {
    text-decoration: none;
    color: black;
}