.bg-green-pineapple {
    background-color: #495E57;
}

.text-black-pineapple {
    color: #1A0000;
}

.my_navbar {
    padding: 0;
}

.pPhone_image {
    background-image: url('../../public/img/pPhoneCategory.jpg');
    height: 85vh;
    background-size: cover;
}



.pBookSurf_image {
    background-image: url('../../public/img/pBookSurf_Orizontal.png');
    height: 85vh;
    background-size: cover;
}



.img_modellation {
    height: 50vh;
}

.img-preview{
   width: 50px;
   height: 50px;
}

